.image-fab {
  right: 20px;
  bottom: 20px;
  position: fixed !important;
}

.gallery-fab {
  right: 80px;
  bottom: 20px;
  position: fixed !important;
}

.photo-card {
  margin: 1rem;
}

mat-card.photo-card {
  background-color: #bdbdbd;
  padding-top: 0;
  padding-bottom: 0;
}

mat-card.photo-card mat-card-content {
  margin-bottom: -4px;
}

mat-card.photo-card mat-card-content p {
  position: absolute;
  top: 15px;
  max-width: 70%;
  word-wrap: break-word;
}

mat-card.album-card {
  min-width: 70%;
  background-color: #eeeeee;
  padding-top: 0;
  padding-bottom: 0;
}

mat-card.album-card mat-card-content {
  padding-top: 15px;
}

mat-card.album-card mat-card-content a,
mat-card.album-card mat-card-content a:visited,
mat-card.album-card mat-card-content a:hover,
mat-card.album-card mat-card-content a:active
{
  color: inherit;
  text-decoration: none;
}

mat-card.album-card mat-card-content p {
  max-width: 85%;
  word-wrap: break-word;
  text-decoration: none;
}

mat-card-content button.media-menu {
  position: absolute;
  right: 15px;
  top: 10px
}

mat-card-title {
  text-align: center;
}
