.image-fab{
  right: 20px;
  bottom: 20px;
  position: fixed !important;
}

.gallery-fab{
  right: 80px;
  bottom: 20px;
  position: fixed !important;
}

.photo-card{
  margin: 1rem;
}

mat-card.photo-card {
  background-color: #bdbdbd;
  padding-top: 0;
}

mat-card.photo-card mat-card-content p {
  position: absolute;
  margin-top: 15px;
}

mat-card-title {
  text-align: center;
}

mat-card-actions {
  margin-top: -21px;
}

mat-card-actions button {
  margin-left: 5px;
  margin-right: 5px;
}
