.image-fab{
  right: 20px;
  bottom: 20px;
  position: fixed !important;
}

.gallery-fab{
  right: 80px;
  bottom: 20px;
  position: fixed !important;
}

.photo-card{
  margin: 1rem;
}
mat-card-title {
  text-align: center;
}
mat-card-actions button {
  margin-left: 5px;
  margin-right: 5px;
}
