<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile *ngFor="let album of albums">
      <mat-card class="album-card">
        <mat-card-content>
          <a [href]="'gallery/' + album._id">
            <p class="mat-h2">Album: {{ album.title }}</p>
          </a>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="media-menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openSaveAlbumDialog(album._id)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="openDeleteAlbumDialog(album._id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item (click)="openChangeDialog(album._id, 'album')">
              <mat-icon>forward</mat-icon>
              <span>Move</span>
            </button>
          </mat-menu>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let photo of photos">
      <mat-card class="photo-card">
        <mat-card-content>
          <button mat-icon-button class="media-menu" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="media-menu">
            <button mat-menu-item (click)="openUploadPhotoDialog(photo._id)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="openDeletePhotoDialog(photo._id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item (click)="openChangeDialog(photo._id, 'photo')">
              <mat-icon>forward</mat-icon>
              <span>Move</span>
            </button>
          </mat-menu>
          <p class="mat-h2">{{ photo.title }}</p>
          <img mat-card-image [src]="serverUrl + photo.thumbnail" [alt]="photo.title" (click)="onPhotoPreview(photo._id)">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <button
    mat-fab
    class="gallery-fab"
    color="primary"
    matTooltip="Add New Album"
    [matTooltipPosition]="'above'"
    (click)="openSaveAlbumDialog()">
    <mat-icon aria-label="Add New Album">
      photo_album
    </mat-icon>
  </button>
  <button
    mat-fab
    class="image-fab"
    color="accent"
    matTooltip="Upload Photo"
    [matTooltipPosition]="'above'"
    (click)="openUploadPhotoDialog()">
    <mat-icon aria-label="Upload Photo">
      photo
    </mat-icon>
  </button>
</div>
